.container {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    // background-color: aquamarine;
    outline: 1px solid royalblue;

    @media screen and (min-width: 320px) {
        width: 320px;
        padding: 0 15px;
    }
    @media screen and (min-width: 575px) {
        width: 575px;
        padding: 0 33px;
    }

    @media screen and (min-width: 767px) {
        width: 767px;
        padding: 0 38px 0 39px;
}
    @media screen and (min-width: 992px) {
        width: 992px;
        padding: 0 31px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        padding: 0 131px;
    }
}