.footer {
    padding-bottom: 48px;

    &__logo {
        padding: 26px 125px 15px 126px;
    }

    &__list {
        display: flex;
        gap: 1px;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    &__link {
        display: inline-block;
        font-weight: 500;
        font-size: 11px;
        line-height: calc(16/11);
        color: $p-color;

        &:hover,
        &:focus {
            color: $black;
        }


    }
}