.hero {
    margin: 0 auto;
    padding-bottom: 51px;
    text-align: center;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: calc(36/24);
        color: $black;

        margin: 16px 0 20px;

        @media screen and (max-width: 320px) {
            padding: 0 50px;
        }


    }

    &__text {
        font-size: 14px;
        line-height: calc(21/14);
        margin-bottom: 35px;
    }

    & &--button {
        width: 289px;
        height: 60px;
        margin: 0;
    }


    // 575
    @media screen and (min-width: 575px) {

        &__title {
            font-size: 34px;
            line-height: calc(45/34);
        }

        &__text {
            font-size: 16px;
            line-height: calc(24/16);
            margin-bottom: 35px;
        }

        & &--button {
            width: 305px;
            height: 75px;
            margin: 0;
        }
    }

    @media screen and (min-width: 767px) {
        text-align: left;

        & .container {
            display: flex;
            flex-flow: row-reverse;
        }

        &__title {
            position: relative;
            width: 217px;

            font-size: 36px;
            line-height: calc(45/36);

            // ::after {
            //     position: absolute;
            //     content: "";
            //     width: 42px;
            //     height: 50px;

            // }
        }
        &__img {
            width: 48px;
            height: 58px;
        }

        &__text {
            width: 334px;

            margin-top: 25px;
            margin-bottom: 35px;
        }

        & &--button {
            width: 236px;
            height: 65px;
            margin: 0;
        }
    }
}