.skills {
    padding-bottom: 50px;

    & .h3 {
        padding-left: 13px;
        // outline: 1px solid red;
    }

    &__list {
        margin-top: 32px;
        // outline: 1px solid green;
    }

    &__item {
        background: #F5F5F5;
        border-radius: 5px;
        padding-bottom: 45px;
        margin-bottom: 21px;
        // outline: 1px solid blueviolet;
    }

    @media screen and (max-width: 574px) {
        &__img {
            margin-left: auto;
            margin-right: auto;
            // outline: 1px solid brown;
        }
    }

    &__text {
        padding: 3px 16px 20px 16px;
        // outline: 1px solid tomato;
    }

    @media screen and (min-width: 575px) {

        padding-bottom: 84px;

        & .h3 {
            padding-left: 15px;

        }

        &__list {

            display: flex;
            flex-flow: wrap;
            gap: 30px;
        }

        &__item {
            height: 534px;
            display: flex;
            flex-flow: column;

            justify-content: space-between;
            width: calc((100% - 30px)/2);
            padding: 0;
            margin-bottom: 0%;
        }

        &__text {
            font-size: 12px;

            padding: 0 5px 10px 15px;

        }
    }

    @media screen and (min-width: 767px) {

        padding-bottom: 52px;

        & .h3 {
            padding-left: 17px;
            height: 70px;
        }

        &__text {
            font-size: 13px;
        
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 8px;
        }

        .div1 {
            grid-area: 1 / 1 / 3 / 2;
            width: 224px;
            height: 662px;
        }

        .div2 {
            grid-area: 1 / 2 / 2 / 3;
            width: 227px;
            height: 441px;
        }

        .div3 {
            grid-area: 1 / 3 / 2 / 4;
            width: 228px;
            height: 442px;
        }

        .div4 {
            grid-area: 2 / 2 / 3 / 4;
            width: 462px;
            height: 210px;
        }

        

        .div5 {
            display: flex;
            flex-flow: row-reverse;
            align-items: self-end;
        }

        .div5 .skills__text {
            width: 250px;
            height: 69px;
            padding: 0 0px 0 0px;
        }

    }

    @media screen and (min-width: 992px) {

        padding-bottom: 106px;

        & .h3 {
            padding-left: 29px;
            font-size: 22px;
            line-height: calc(80/22);
        }

        &__text {
            font-size: 14px;
            margin-bottom: 11px;
            padding: 0 15px 0 0;
        }

        &__list {

            grid-column-gap: 5px;
            grid-row-gap: 8px;
        }

        .div1 {

            width: 303px;
            height: 696px;
        }

        .div2 {

            width: 302px;
            height: 441px;
        }

        .div3 {

            width: 304px;
            height: 442px;
        }

        .div4 {

            width: 616px;
            height: 242px;
        }

        

        .div5 {
            justify-content: space-evenly;
        }

        .div5 .skills__text {
            width: 289px;
            height: 69px;
            margin-top: 20px;

        }

    }

    @media screen and (min-width: 1600px) {

        padding-bottom: 282px;

        & .h3 {
            padding-left: 92px;
        }
    }
}