.skills {
    padding-bottom: 50px;

    &__item {
        background: #F5F5F5;
        border-radius: 5px;
        padding-bottom: 45px;
        margin-bottom: 21px;
    }

    &__text {
        padding: 3px 16px  20px 16px;
        // margin-bottom: 20px;
    }
}
