
$white: #FFFFFF;
$black: #000000;
$p-color: #8F95A5;
$buttons: #263238;
$gray: #939393;
$icons: #39515e;
$num: #2A3246;
$prices_btn: #EEEEEE;


// text styles
// $p: 16/auto;
// Montserrat medium 500
// $h2: 36/120;
// Montserrat bold 700
// p>h2: 16/130
// Montserrat regular 400
// h3 18/auto;
// Montserrat semibold 600
// p>h3 14/130
// Montserrat regular

// ExtraBold 800




// Переменные экрана
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;



