
$white: #FFFFFF;
$black: #000000;
$p-color: #8F95A5;
$buttons: #263238;
$gray: #939393;
$icons: #39515e;
$num: #2A3246;
$prices_btn: #EEEEEE;


// Переменные экрана
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;



